<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=../../../db/db.sqlite3" />
	</connectionStrings>
	<appSettings>
		<add key="encryptionKey" value="159ea22fxa19bx47f5x8459x2da3076319f5"/>
		<add key="encryptionPassword" value="0006bb10-3f6e-4b80-a7e4-0408394aa438"/>
	</appSettings>
</configuration>